@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 48px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

button {
  font-size: 14px;
}


@layer components {
  .btn-primary {
    @apply uppercase text-gray-900 bg-primary px-[16px] py-[12px] font-semibold;
  }

  .btn-secondary {
    @apply uppercase border-[1px] border-primary px-[16px] py-[8px] hover:bg-[#71ef715b] font-semibold;
  }

  .btn-third {
    @apply uppercase border-[1px] border-gray-300 px-[16px] py-[8px] hover:bg-primary hover:border-primary hover:text-black font-semibold;
  }
  
}

#boxShadow {
  box-shadow: rgba(113, 239, 113, 0.2) 0px 10px 36px 0px, rgba(113, 239, 113, 0.06) 0px 0px 0px 1px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #71ef71 !important;
}
